{
  "server_uuid": "",
  "project_uuid": "",
  "environment_uuid": "",
  "environment_name": "production",
  "postgres_database_uuid": "",
  "redis_database_uuid": "",
  "evolution_application_uuid": "",
  "runtime_application_uuid": "",
  "evolution_api_key": "",
  "updated_at": ""
}
